<div class="container is-fluid">
  <section class="section">
    <div class="container has-text-centered">
      <div class="columns is-centered">
        <div class="column is-5 is-4-desktop">
          <app-user-information [user]="user"></app-user-information>
          <div class="mt-6" *ngIf="!user.userAddress">
            <app-register-address-form (addressSubmit)="postAddress($event)"></app-register-address-form>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
