<section class="section p-1">
  <div *ngFor="let wish of wishlists; let i = index;" class="card mb-2 p-5">
    <div class="columns is-flex-desktop-only is-align-items-center is-justify-content-space-around">
      <div class="column is-1 mx-6">
        <figure class="image">
          <img [src]="wish.itemWishList.imageItem" [alt]="wish.itemWishList.label">
        </figure>
      </div>

      <div class="column has-text-centered mx-6">
          <a class="has-text-weight-bold is-size-4" [routerLink]="['/item', wish.itemWishList.id]">
            {{wish.itemWishList.label}}
          </a>
      </div>

      <div class="column has-text-centered mx-6">
        <h1 class="title is-4 has-text-weight-bold">{{wish.itemWishList.price | number: '1.2'}}€</h1>
      </div>

      <div class="column has-text-centered">
        <a class="button is-white is-large has-text-danger" (click)="deleteWishlistItem({element: wish, index: i})">
          <i class="far fa-times-circle"></i>
        </a>
      </div>
    </div>
  </div>
</section>

