<section class="section">
  <div class="columns is-justify-content-space-between">
    <div class="column is-narrow">
      <h1 class="title is-2">Panier</h1>
      <h1 class="title is-4">Prix total: {{bag.totalPrice}}€</h1>
    </div>
    <div class="column is-narrow">
      <div class="buttons">
        <a href="" class="button is-danger">Vider le panier</a>
        <a href="" class="button is-success">Commander</a>
      </div>
    </div>
  </div>
  <app-list-bagged-items [items]="bag.items"></app-list-bagged-items>
</section>
