<div class="is-flex-direction-row">
  <div *ngFor="let item of items; let i = index;" class="card mb-2 p-6">
    <div class="columns is-vcentered">
      <div class="column is-2">
        <figure class="image is-inline-block is-64x64">
          <img [src]="item.bagItem.imageItem" alt="">
        </figure>
      </div>
      <div class="column is-flex-grow-1">
        <div class="card-content">
          <a class="has-text-weight-bold is-size-4" [routerLink]="['/item', item.bagItem.id]">{{item.quantity}}
            x {{item.bagItem.label}}</a>
          <h2>Ajouté le {{item.addedAt | date: 'dd/MM/yyyy HH:mm'}}</h2>
        </div>
      </div>
      <div class="column is-3">
        <div class="card-content">
          <h1 class="title is-4 has-text-weight-bold">{{item.bagItem.price}}€</h1>
        </div>
      </div>
      <div class="column is-1 is-align-items-center">
        <div class="card-content"><a class="delete" (click)="deleteBaggedItem({element: item, index: i})"></a></div>
      </div>
    </div>
  </div>
</div>
