<section class="hero is-fullheight-with-navbar is-white">
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-1 has-text-info">Page non trouvée : 404</h1>
      <div class="mt-6">
        <p class="subtitle is-3">Il semblerait que tu te sois perdu...</p>
        <span class="is-size-3">Ne t'en fais pas ! Les vêtements c'est par </span>
        <a class="has-text-weight-bold is-size-2" routerLink="/">ici</a>
        <span class="is-size-3"> !</span>
      </div>
    </div>
  </div>
</section>
