<div class="columns is-flex is-flex-direction-row">
  <div class="column is-3">
    <aside class="menu py-6">
      <p class="menu-label">Utilisateurs</p>
      <ul class="menu-list">
        <li><a>Gérer les utilisateurs inscrits</a></li>
      </ul>
      <p class="menu-label">Catégories</p>
      <ul class="menu-list">
        <li><a routerLink="categories/add" routerLinkActive="is-active">Ajouter une catégorie</a></li>
        <li><a>Ajouter une sous-catégorie</a></li>
      </ul>
      <p class="menu-label">Articles</p>
      <ul class="menu-list">
        <li><a routerLink="items/add" routerLinkActive="is-active">Ajouter un article</a></li>
        <li><a>Supprimer un article</a></li>
      </ul>
    </aside>
  </div>
  <div class="column is-6">
    <section class="section">
      <router-outlet></router-outlet>
    </section>
  </div>
</div>
