<section class="section">
  <div class="container has-text-centered">
    <div class="columns is-centered">
      <div class="column is-5 is-4-desktop">
        <h2 class="title">Connectez-vous</h2>
        <div *ngIf="errorMessage" class="my-4">
          <article class="message is-danger is-small">
            <div class="message-header">
              <p>Une erreur est survenue</p>
              <button class="delete" (click)="closeErrorMessage()"></button>
            </div>
            <div class="message-body">
              {{ errorMessage }}
            </div>
          </article>
        </div>
        <form [formGroup]="signInFrom" (ngSubmit)="submit()">
          <div class="field">
            <p class="control has-icons-left has-icons-right">
              <input type="email" class="input" placeholder="Email" autofocus formControlName="email">
              <span class="icon is-small is-left">
                  <i class="fas fa-envelope"></i>
                </span>
              <span class="icon is-small is-right">
                  <i class="fas fa-check"></i>
                </span>
            </p>
          </div>
          <div class="field">
            <p class="control has-icons-left">
              <input type="password" class="input" placeholder="Mot de passe" formControlName="passwordUser">
              <span class="icon is-small is-left">
                  <i class="fas fa-lock"></i>
                </span>
            </p>
          </div>
          <div class="field">
            <button type="submit" class="button is-success is-fullwidth" [disabled]="signInFrom.invalid">
              Se connecter
            </button>
          </div>
          <span>Vous n'avez pas encore de compte ? <a routerLink="/users/sign-up">Inscrivez vous !</a></span>
        </form>
      </div>
    </div>
  </div>
</section>
