<h2 class="title is-centered" *ngIf="!addressToUpdate">Ajoutez votre adresse</h2>
<h2 class="title is-centered" *ngIf="addressToUpdate">Modifiez votre adresse</h2>
<form [formGroup]="formAddress" (ngSubmit)="submit()">
  <div class="field">
    <div class="control">
      <input type="text" class="input" placeholder="Rue" formControlName="street">
    </div>
  </div>
  <div class="field">
    <div class="control">
      <input type="number" class="input" placeholder="Numéro" formControlName="homeNumber">
    </div>
  </div>
  <div class="field">
    <div class="control">
      <input type="text" class="input" placeholder="Code postal" formControlName="zip">
    </div>
  </div>
  <div class="field">
    <div class="control">
      <input type="text" class="input" placeholder="Ville" formControlName="city">
    </div>
  </div>
  <div class="field">
    <button type="submit" class="button is-primary is-fullwidth" [disabled]="formAddress.invalid">
      <span *ngIf="!addressToUpdate">Ajouter l'adresse</span>
      <span *ngIf="addressToUpdate">Modifier l'adresse</span>
    </button>
  </div>
</form>

